<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<style>
    .marginBot{margin-bottom: 15px;}
</style>
<body>
<ul class="nav nav-tabs marginBot">
    <li role="presentation" class="active"><a href="/login">登录</a></li>
    <li role="presentation"><a href="/register">注册</a></li>
    <li role="presentation"><a href="/">首页</a></li>
</ul>
<input type="text" class="form-control marginBot" placeholder="输入账号" id="name">
<input type="text" class="form-control marginBot" placeholder="输入密码" id="psd">
<button type="button" class="btn btn-default" onclick="findUser()">登录</button>

</body>
</html>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    var nameDom = $("#name");
    var psdDom = $("#psd");

    function findUser() {
        if(!nameDom.val() || !psdDom.val()){
            alert("请填写登录信息！")
            return
        }
        $.ajax({
            type:"POST",
            url: "/findOne",
            data: {username: nameDom.val(),password:psdDom.val()},
            success: function (data) {
                if(data.code == 200){
                    location.href = "/";
                }else{

                }
                alert(data.message);
            }
        })
    }

</script>